$white: #fff;
$black: #333;
$dark-gradient: rgba(35,128,206,1);
$light-gradient: rgba(75,170,249,1);
$green: #006400;
$light-grey: lightgrey;


/* app container
   ========================================================================== */
.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* logo and animation
   ========================================================================== */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* container of two bottons
   ========================================================================== */
.upper-content {
  display: flex;
  justify-content: center;

  div {
    margin: 20px 0;
    padding: 0 30px;
  }

  div:first-child {
    border-right: 1px solid $light-grey;
  }
}

/* card with form and logo
   ========================================================================== */
.lower-content {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid $light-grey;
  border-radius: 20px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);


  @media screen and (min-width: 768px) {
    flex-direction: row;

    div {
      width: 50%;
    }
  }

  .logo {
    // change order of flex children
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      order: 1;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* button
   ========================================================================== */
button {
  width: 90px;
  padding: 12px 20px;
  background-color: $white;
  color: $black;
  border: none;
  border-radius: 10px;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.form button {
  font-weight: 900;
}

.active {
  background: linear-gradient(90deg, $dark-gradient 0%, $light-gradient 100%);
  color: $white;
}

/* input
   ========================================================================== */
input {
  width: 70%;
  max-width: 200px;
  margin: 10px 10px 40px;
  padding: 10px;
  border: 1px solid $light-grey;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  outline: none;

  &:focus {
    outline: none;
  }
}

.coloured {
  background-color: $green;
  border: 1px solid $green;
  color: #fff;
}
